ENVIRONMENT=production

# Aplicacao
SECRET_KEY=change-me-in-production
DEBUG=False
ALLOWED_HOSTS=api.annyka.com.br,annyka.com.br,www.annyka.com.br
CORS_ALLOWED_ORIGINS=https://annyka.com.br
RESERVATION_MINUTES=15

# Banco de dados
# Opcao 1: URL pronta
DATABASE_URL=postgres://postgres:psrzin7vlv2ohn8r8a0e@annyka_annyka-db:5432/annyka?sslmode=disable

# Opcao 2: credenciais separadas, no estilo do Zenzy/EasyPanel
POSTGRES_HOST=annyka_annyka-db
POSTGRES_PORT=5432
POSTGRES_DB=annyka
POSTGRES_USER=postgres
POSTGRES_PASSWORD=psrzin7vlv2ohn8r8a0e
POSTGRES_SSLMODE=disable
RUN_SEED_DEMO=false

# Frontend
NUXT_PUBLIC_API_BASE=https://api.seudominio.com/api/v1

# Mercado Pago
MERCADOPAGO_PUBLIC_KEY=
MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_WEBHOOK_SECRET=
MERCADOPAGO_NOTIFICATION_URL=https://api.seudominio.com/api/v1/payments/webhook/mercadopago/
